<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1535016120720-40c646be5580?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);">
    <div class="text-center">
      <h1>Save your lists of <strong>movies</strong> </h1>
    </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between mt-5 mb-3">
    <h4>My lists</h4>
    <%= render "modal" %>
  </div>

  <div class="row justify-content-around gy-5">
        <% @lists.each do |list|  %>
        <div class="col-4 col-sm-6 card-category image">
          <div class="text-center">
            <%= link_to list.name, list_path(list) %>
          </div>
        </div>
      <% end %>
  </div>

</div>

<%= cl_image_tag("https://res.cloudinary.com/degm2tmrv/image/upload/v1650740003/wnyk2gbjoxp5c1rayggt.jpg",
      width: 400, height: 300, crop: :fill) %>
